<style>
  .demo-wrap h2 {
    text-decoration: underline;
  }
  .table-wrap{
    max-width:350px;
    margin: 0 auto;
    overflow: auto;
  }
</style>


<script type="text/stache" class="demo" can-autorender>
  <can-import from="table-testing/components/jqgrid-table/" />

  <div class="demo-wrap">
    <h2>{{demoVm.title}}</h2>

    <div class="table-wrap">
      <jqgrid-table {table-data}="demoVm.tableData" {(performance-map)}="demoVm.performanceMap" />
    </div>

  </div>


  <div class="performance-wrap">
    <div class="render-time metric">
      <label>
        Render Time:
        </label>
      <span>
        {{demoVm.performanceMap.renderTime}}
      </span>
    </div>

    <div class="average-page-duration metric">
      <label>
        Average Page Duration:
        </label>
      <span>
        {{demoVm.performanceMap.pageDurationAverage}}
      </span>
    </div>

    <div class="average-sort-duration metric">
      <label>
        Average Sort Duration:
        </label>
      <span>
        {{demoVm.performanceMap.sortDurationAverage}}
      </span>
    </div>
  </div>



</script>

<script src="../../../node_modules/steal/steal.js" main="@empty">
  import can from 'can';
  import 'can/view/autorender/';
  import 'can/map/define/';
  import getMockData from 'table-testing/data/getMockData';
  import initFPSCounter from 'table-testing/util/fps';
  import PerformanceMap from 'table-testing/util/performance-map';

  initFPSCounter();

  var DemoVM = can.Map.extend({
      define: {
        title: {},
        tableData: {},
        performanceMap: {
          value: new PerformanceMap()
        }
      }
    }),
    vm = can.viewModel('.demo');

  vm.attr({
    demoVm: new DemoVM({
      title: 'Demo for jqgrid-table',
      tableData: getMockData(10,20000)
    })
  });

</script>



