<style>
  .demo-wrap h2 {
    text-decoration: underline;
  }
  .table-wrap{
    max-width:350px;
    height: 350px;
    margin: 0 auto;
  }
</style>


<script type="text/stache" class="demo" can-autorender>
  <can-import from="table-testing/components/jqwidgetsgrid-table/" />

  <div class="demo-wrap">
    <h2>{{demoVm.title}}</h2>

    <div class="table-wrap">
      <jqwidgetsgrid-table {table-data}="demoVm.tableData"/>
    </div>

  </div>




</script>

<script src="../../../node_modules/steal/steal.js" main="@empty">
  import can from 'can';
  import 'can/view/autorender/';
  import 'can/map/define/';
  import getMockData from 'table-testing/data/getMockData';
  import initFPSCounter from 'table-testing/util/fps';

  initFPSCounter();

  var DemoVM = can.Map.extend({
      define: {
        title: {},
        tableData: {}
      }
    }),
    vm = can.viewModel('.demo');

  vm.attr({
    demoVm: new DemoVM({
      title: 'Demo for jqwidgetsgrid-table',
      tableData: getMockData(10,1000)
    })
  });

</script>



